/* landing page css */

.landingPageContainer{
  width: 100%;
  height: 100%;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav{
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2{
  font-size: 1.7rem;
  font-weight: 400;
}

.landingPageContainer .navList{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}


.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  padding-top: 20vh;
  align-items: center;
}

.img{
  /* width: ; */
  height: 67.4vh;

}
.img img{
  width: 100%;
  height: 80%;
}